{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
        "prettier",
        "prettier/flowtype",
        "prettier/react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "arrow-parens": [
            "off"
        ],
        "compat/compat": "error",
        "consistent-return": "off",
        "comma-dangle": "off",
        "generator-star-spacing": "off",
        "import/no-unresolved": "error",
        "import/no-extraneous-dependencies": "off",
        "indent": [
            "error",
            4
        ],
        "jsx-a11y/anchor-is-valid": "off",
        "no-alert": "off",
        "no-console": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-multi-assign": "off",
        "no-trailing-spaces": "error",
        "promise/param-names": "error",
        "promise/always-return": "error",
        "promise/catch-or-return": "error",
        "promise/no-native": "off",
        "quotes": [
            "error",
            "double"
        ],
        "react/sort-comp": [
            "error",
            {
                "order": [
                    "type-annotations",
                    "static-methods",
                    "lifecycle",
                    "everything-else",
                    "render"
                ]
            }
        ],
        "react/jsx-no-bind": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "react/prefer-stateless-function": "off",
        "semi": [
            "error",
            "always"
        ]
    },
    "plugins": [
        "import",
        "promise",
        "compat",
        "react",
        "@typescript-eslint"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}